# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
env/
.venv/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# PyCharm
# ----------------------------
.idea/

# ----------------------------
# Database
# ----------------------------
campus.db
*.sqlite3

# ----------------------------
# Exported Files
# ----------------------------
*.csv

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Operating System Files
# ----------------------------
.DS_Store
Thumbs.db
desktop.ini